<p id="notice"></p>
<h1>Books</h1>

<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td></td> <!--一番古い投稿のTitle-->
      <td></td> <!--一番古い投稿のBody-->
      <td></td> <!--一番古い投稿のShowリンク-->
      <td></td> <!--一番古い投稿のEditリンク-->
      <td></td> <!--一番古い投稿のDestroyリンク-->
    </tr>

    <tr>
      <td></td> <!--二番目に古い投稿のTitle-->
      <td></td> <!--二番目に古い投稿のBody-->
      <td></td> <!--二番目に古い投稿のShowリンク-->
      <td></td> <!--二番目に古い投稿のEditリンク-->
      <td></td> <!--二番目に古い投稿のDestroyリンク-->
    </tr>

    <tr>
      <td></td> <!--三番目に古い投稿のTitle-->
      <td></td> <!--三番目に古い投稿のBody-->
      <td></td> <!--三番目に古い投稿のShowリンク-->
      <td></td> <!--三番目に古い投稿のEditリンク-->
      <td></td> <!--三番目に古い投稿のDestroyリンク-->
    </tr>

    <tr>
      <td></td> <!--四番目に古い投稿のTitle-->
      <td></td> <!--四番目に古い投稿のBody-->
      <td></td> <!--四番目に古い投稿のShowリンク-->
      <td></td> <!--四番目に古い投稿のEditリンク-->
      <td></td> <!--四番目に古い投稿のDestroyリンク-->
    </tr>

    <tr>
      <td></td> <!--五番目に古い投稿のTitle-->
      <td></td> <!--五番目に古い投稿のBody-->
      <td></td> <!--五番目に古い投稿のShowリンク-->
      <td></td> <!--五番目に古い投稿のEditリンク-->
      <td></td> <!--五番目に古い投稿のDestroyリンク-->
    </tr>

  </tbody>
</table>

<h2>New book</h2>

<%= form_with model: Book.new do |if| %>
<% end %>

#<!--投稿はform_withで作成？-->
